{% extends 'dashboard/dashboard.html' %}
{% block main %}
    <main class="main-content  max-height-vh-100 h-100">
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl ">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                        <li class="breadcrumb-item text-sm">
                            <a class="text-white" href="javascript:">
                                <i class="ni ni-box-2"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white"
                                                               href="javascript:">Pages</a></li>
                        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white"
                                                               href="javascript:">Files</a></li>
                        <li class="breadcrumb-item text-sm text-white active" aria-current="page">Files</li>
                    </ol>
                    <h6 class="font-weight-bolder text-white">List Files</h6>
                </nav>
                <div class="sidenav-toggler sidenav-toggler-inner d-xl-block d-none me-auto">
                    <a href="javascript:" class="nav-link text-body p-0">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line bg-white"></i>
                            <i class="sidenav-toggler-line bg-white"></i>
                            <i class="sidenav-toggler-line bg-white"></i>
                        </div>
                    </a>
                </div>
                <div class="collapse navbar-collapse me-md-0 me-sm-4 mt-sm-0 mt-2" id="navbar">
                    <ul class="navbar-nav justify-content-end ms-auto">
                        <li class="nav-item d-xl-none ps-3 pe-0 d-flex align-items-center">
                            <a href="javascript:" class="nav-link text-body p-0" id="iconNavbarSidenav">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line bg-white"></i>
                                    <i class="sidenav-toggler-line bg-white"></i>
                                    <i class="sidenav-toggler-line bg-white"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <form action="{{ url_for('files') }}" method="post" enctype="multipart/form-data" class="card d-flex"
                  style="border-radius: 3px; padding: 10px">
                <input type="text" style="display: none" id="filename" name="filename" class="btn btn-info"/>
                <input type="text" style="display: none" id="file_content" name="file_content"/>
                {{ form.csrf_token }}
                <div class="mb-3">
                    <label for="formFile" class="form-label">File input to upload</label>
                    <input class="form-control" type="file" id="file">
                </div>
                <button type="submit" class="btn btn-success">add file</button>
            </form>
        </div>
        <div class="container-fluid mt-5">
            <div class="row mt-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">List of Files</h5>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-flush" id="datatable-search">
                                <thead class="thead-light">
                                <tr>
                                    <th>ID</th>
                                    <th>filename</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for file in files %}
                                    <tr>
                                        <td class="text-sm font-weight-normal">{{ file.id }}</td>
                                        <td class="text-sm font-weight-normal">{{ file.filename }}</td>
                                        <td class="">
                                            <button type="button"
                                                    onclick="download('{{ file.file_content }}', '{{ file.filename }}')"
                                                    class="btn btn-warning">download
                                            </button>
                                            <button class="btn btn-danger" onclick="deleteFile( '{{ file.id }}' )">
                                                delete
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
      const download = (base64string, filename) => {
        fetch(base64string).then((res) => {
          res.blob().then(
            (response) => {
              console.log(response);
              const a = document.createElement('a');
              // Passing the blob downloading url
              a.setAttribute('href', URL.createObjectURL(response))
              // Setting the anchor tag attribute for downloading
              // and passing the download file name
              a.setAttribute('download', filename);
              // Performing a download with click
              a.click();
            }
          )
        });
      }

      document.getElementById('file').addEventListener("change", (event) => {
        const reader = new FileReader();
        console.log(event.target.files[0].name);
        const filename = event.target.files.length > 0 ? event.target.files[0].name : null;
        if (filename === null) {
          return;
        }
        reader.onload = () => {
          document.getElementById('filename').value = filename;
          document.getElementById('file_content').value = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
      });
      const deleteFile = (id) => {
        const swalWithBootstrapButtons = Swal.mixin({
          customClass: {
            confirmButton: 'btn btn-success',
            cancelButton: 'btn btn-danger'
          },
          buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, cancel!',
          reverseButtons: true
        }).then((result) => {
          if (result.isConfirmed) {
            swalWithBootstrapButtons.fire(
              'Deleted!',
              'Your file has been deleted.',
              'success'
            )
          } else if (
            /* Read more about handling dismissals below */
            result.dismiss === Swal.DismissReason.cancel
          ) {
            swalWithBootstrapButtons.fire(
              'Cancelled',
              'Your imaginary file is safe :)',
              'error'
            )
          }
        })
      }
    </script>
{% endblock %}
