{% extends 'dashboard/dashboard.html' %}
{% block main %}
    <main class="main-content  max-height-vh-100 h-100">
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl ">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                        <li class="breadcrumb-item text-sm">
                            <a class="text-white" href="javascript:">
                                <i class="ni ni-box-2"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white"
                                                               href="javascript:">Pages</a></li>
                        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white"
                                                               href="javascript:">Account</a></li>
                        <li class="breadcrumb-item text-sm text-white active" aria-current="page">Settings</li>
                    </ol>
                    <h6 class="font-weight-bolder text-white">Settings</h6>
                </nav>
                <div class="sidenav-toggler sidenav-toggler-inner d-xl-block d-none me-auto">
                    <a href="javascript:" class="nav-link text-body p-0">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line bg-white"></i>
                            <i class="sidenav-toggler-line bg-white"></i>
                            <i class="sidenav-toggler-line bg-white"></i>
                        </div>
                    </a>
                </div>
                <div class="collapse navbar-collapse me-md-0 me-sm-4 mt-sm-0 mt-2" id="navbar">
                    <ul class="navbar-nav justify-content-end ms-auto">
                        <li class="nav-item d-xl-none ps-3 pe-0 d-flex align-items-center">
                            <a href="javascript:" class="nav-link text-body p-0" id="iconNavbarSidenav">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line bg-white"></i>
                                    <i class="sidenav-toggler-line bg-white"></i>
                                    <i class="sidenav-toggler-line bg-white"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <div class="container-fluid mt-5">
        <div class="row mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">List of Workers Search</h5>
                </div>
            <div class="w-100 d-flex justify-content-end px-5">
                <a class="btn btn-success " href="{{ url_for('worker') }}">add worker</a>
            </div>
                <div class="table-responsive">
                    <table class="table table-flush" id="datatable-search">
                        <thead class="thead-light">
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone number</th>
                            <th>Location</th>
                            <th>Username</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for worker in workers %}
                            <td class="text-sm font-weight-normal">{{ worker.firstname }} {{ worker.lastname }}</td>
                            <td class="text-sm font-weight-normal">{{ worker.email }}</td>
                            <td class="text-sm font-weight-normal">{{ worker.telephone }}</td>
                            <td class="text-sm font-weight-normal">{{ worker.location }}</td>
                            <td class="text-sm font-weight-normal">{{ worker.username }}</td>
                            <td class="">
                            <a href="{{ url_for('/worker', worker_id=worker.id) }}" class="btn btn-warning">edit</a>
                            </td>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    </main>
{% endblock %}
